*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Nunito", sans-serif;
    text-align: center;
    font-weight: 600;
    cursor: default;
}
/*-----------css for nav bar-----------*/
.non-renponsive-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}
.head{
    background-color:white ;
    height: 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}
.logo{
    display: flex;
    justify-content: center;
    width: 50%;
    scale: 1.5;
}
.logo p{
    font-family: "Sour Gummy", sans-serif;
    font-size: larger;
}
.s-word{
    color: #88C273;
}
.nav-content{
    width: 50%;
    display: flex;
    z-index: 10;
    justify-content: space-around;
}
.nav-content a{
    text-decoration: none;
    color: #344c64;
    transition-duration: 0.5s;
    cursor: pointer;
}
.nav-chosen{
    opacity: 0.5;
    scale: 1.1;
}
.nav-nonchosen:hover{
    scale: 1.1;
    opacity: 0.5;
}
.responsive-nav{
    display: none;
}

@media (max-width:890px) {
    .non-renponsive-nav{
        display: none;
    }
    .logo{
        scale: 1.8;
        text-align: center;
    }
    .responsive-nav{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 2px solid gray;
        position: sticky;
        bottom: 0;
    }
    .nav-cont{
        height: 40px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .r-nav-link{
        width: 25%;
        height: 50px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .r-nav-link a{
        border-left: 1px solid gray ;
        width: 100%;
        height: 35px;
        text-decoration: none;
        color: #344c64;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .r-nav-link i{
        cursor: pointer;
    }
}




/*-----------css for footer-----------*/

.main{
    background-color: #eeeeee;
    height: 1200px;
}




/*-----------css for footer-----------*/
.foot{
    background-color: #344c64   ;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.2);
    color: white;
}
.foot-1{
    font-size: larger;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.foot-1 p{
    font-family: "Sour Gummy", sans-serif;  
}
.footLine{
    height: 1px;
    margin-left: 40px;
    margin-right: 40px;
    border-bottom: 1px solid gray;
}
.foot-2{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
.innerFoot-2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
}
.innerFoot-2 h3{
    margin-bottom: 20px;
}
.innerFoot-2 a{
    margin-bottom: 8px;
    color: rgb(217, 217, 217);
    text-decoration: none;
    cursor: pointer;
    font-weight: 300;
    font-size: 15px;
}
.innerFoot-2 a:hover{
    text-decoration: underline;
    color: rgb(168, 168, 168);
}
.foot-3{
    height: 70px;
    background-color: #021526;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.copyRight{
    font-weight: 300;
    font-size: small;
}
@media (max-width:630px) and (min-width:340px) {
    .innerFoot-2{
        width: 50%;
        align-items: center;
    }
    .foot-2{
        flex-wrap: wrap;
    }
    
}
@media (max-width:340px) {
    .foot-2{
        flex-direction: column;
        align-items: center;
    }
}

